* {
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter";
}

.App {
  text-align: center;
}

.primary-item,
.signup-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-page-image {
  height: 100vh;
}

h2 {
  color: #36383a;
}

.signup-card {
  border: 0;
  width: 45vw;
}

.signup-details,
.signup-textfeild {
  display: flex;
  flex-direction: column;
  width: 28vw;
  gap: 32px;
}

.signup-textfeild {
  gap: 16px;
  border-radius: 8px;
}

.signup-button {
  height: 5vh;
  border-radius: 10px;
}

.signin-message {
  color: #8a8a8e;
}

.signin-link {
  color: #6a39f1;
}
